@import url(colours.css);
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

.questrial-regular {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    background-color: var(--bg_colour);
    font-family: "Questrial", sans-serif;
    color: var(--text_colour);
}

.navlink {
    color: #d92edf;
}

hr {
    width: 90%; 
    color: var(--text_colour);
}

.link_active {
    color: var(--text_colour);
}

header {
    margin: auto;
    text-align: center;
    padding-bottom: 5px;
}

.content {
    width: 50%;
    text-align: center;
    margin: auto;
    font-size:18px;
}

.content > p {
    text-align: justify;
}

footer {
    padding-top: 5px;
    justify-content: center;
}

.badges_container {
    margin-top: 12px;
    display: flex;
    row-gap: 4px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.badges_container * {
    height: 31px;
    width: 88px;
}